{% extends 'base.html.twig' %}


{% block body %}
    <h1>Editer fonction</h1>

     {{form_start(userForm)}}
    {{form_widget(userForm)}}
    <button type="submit" class="btn btn-success">changer fonction </button>
    {{form_end(userForm)}}
{% endblock %}